In [1]:
import numpy as np
import pandas as pd

In [2]:
%%time
data = pd.read_csv('usedCar_Dataset_0206.csv')

In [3]:
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

--------------------------------------------------------------------

刪除離群值

In [4]:
data.head()

       CarID MakeId                                              Title  Year       Make             Model                            Trim     BodyStyle Rental       Location GasMileage_city GasMileage_highway    Price   Mileage    Transmission  FuelType ExteriorColor InteriorColor DoorsNum MaximumSeating Engine         Drivetrain                VIN  OptionCount                                       MajorOptions Certified  Accident Check  OwnershipHistory  SellingDays  OriginPrice
0  100351603     m1                     2007 Chevrolet Tahoe - $11,999  2007  Chevrolet             Tahoe                             NaN           suv    NaN    Garland, TX             NaN                NaN  11999.0  129280.0       Automatic  Gasoline          Gold           NaN      NaN            NaN     V8                NaN  1GNFC13J47R120389            0                                                NaN       NaN             0.0               2.0         1873      12999.0
1  101113873     m1                   2005 Chevrolet Express - $11,995  2005  Chevrolet           Express                             NaN           van    NaN  Claremont, NH             NaN                NaN  11995.0  118113.0       Automatic       NaN         White           NaN      NaN            NaN    NaN                NaN  1GBJG31U251136588            0                                                NaN       NaN             1.0               1.0         1863          NaN
2  102996725     m1  2010 Chevrolet Silverado 2500HD Work Truck Ext...  2010  Chevrolet  Silverado 2500HD  Work Truck Extended Cab LB 4WD  pickup_truck    NaN  Frankfort, KY             NaN                NaN  15900.0  144000.0       Automatic  Gasoline         White          Gray  4 doors        6 seats     V8   Four-Wheel Drive  1GC5KVBG7AZ218246            2                           Steel Wheels,Tow Package       NaN             0.0               2.0         1837      16900.0
3  103384798     m1  2014 Chevrolet Corvette Stingray 3LT Coupe RWD...  2014  Chevrolet          Corvette          Stingray 3LT Coupe RWD         coupe    NaN  Lewistown, MT     17 MPG City     29 MPG Highway  49995.0    2500.0  7-Speed Manual  Gasoline           Red         Black  2 doors        2 seats     V8   Rear-Wheel Drive  1G1YE2D73E5104797            5  Bluetooth,Backup Camera,Aluminum Wheels,Naviga...       NaN             0.0               1.0         1832      62900.0
4  104800849     m1         2002 Chevrolet Monte Carlo SS FWD - $3,440  2002  Chevrolet       Monte Carlo                          SS FWD         coupe    NaN    Delavan, IL     17 MPG City     27 MPG Highway   3440.0  174000.0       Automatic  Gasoline         Black         Black  2 doors        5 seats     V6  Front-Wheel Drive  2G1WX15K829249749            2                      Leather Seats,Aluminum Wheels       NaN             0.0               2.0         1809       4800.0

In [5]:
data['Price'].mean()

20751.43655692617

In [6]:
data['Price'].max()

3838600.0

In [7]:
data['Price'].min()

1.0

In [8]:
data['Price'].std()

18770.66184457804

In [9]:
brands = np.unique(data['MakeId'])

In [10]:
for brand in brands:
    part = data[data['MakeId'] == brand]
    mean_price = part['Price'].mean()
    std_price = part['Price'].std()
    
    price_high = mean_price + 3*std_price
    price_low = mean_price - 3*std_price
    
    slice_part = data['MakeId'] == brand
    indexname_high = data.loc[slice_part,'Price'][data.loc[slice_part,'Price'] > price_high].index
    indexname_low = data.loc[slice_part,'Price'][data.loc[slice_part,'Price'] < price_low].index
    
    data.loc[slice_part,:] = data.loc[slice_part,:].drop(index=indexname_high)
    data.loc[slice_part,:] = data.loc[slice_part,:].drop(index=indexname_low)

In [11]:
data['Price'].max()

749900.0

In [12]:
data['Price'].min()

1.0

In [13]:
price_equal_one = data[data['Price'] == 1.0].index

In [14]:
data = data.drop(index=price_equal_one)

In [15]:
data['Price'].max()

749900.0

In [16]:
data['Price'].min()

100.0

---------------------------------------------------------------------------

In [17]:
data.dtypes

CarID                 float64
MakeId                 object
Title                  object
Year                  float64
Make                   object
Model                  object
Trim                   object
BodyStyle              object
Rental                 object
Location               object
GasMileage_city        object
GasMileage_highway     object
Price                 float64
Mileage               float64
Transmission           object
FuelType               object
ExteriorColor          object
InteriorColor          object
DoorsNum               object
MaximumSeating         object
Engine                 object
Drivetrain             object
VIN                    object
OptionCount           float64
MajorOptions           object
Certified              object
Accident Check        float64
OwnershipHistory      float64
SellingDays           float64
OriginPrice           float64
dtype: object

In [18]:
data.shape

(2375347, 30)

In [19]:
data = data.dropna(subset=['Year', 'Price', 'Mileage', 'OptionCount', 'Accident Check', 'OwnershipHistory', 'SellingDays'])

In [20]:
data.shape

(2144893, 30)

In [21]:
data = data.sample(frac=1)

In [22]:
data.shape

(2144893, 30)

In [23]:
# data_part = data.sample(frac=0.2)

In [24]:
# data_part.shape

In [25]:
train_data = data.iloc[:,[3,12,13,23,26,27,28]]

In [26]:
train_data.shape

(2144893, 7)

In [27]:
train_data.isnull().sum()

Year                0
Price               0
Mileage             0
OptionCount         0
Accident Check      0
OwnershipHistory    0
SellingDays         0
dtype: int64

----------------------------------------------------------------------

In [28]:
from sklearn.preprocessing import MinMaxScaler

In [29]:
mms = MinMaxScaler()

In [30]:
%%time
train_data.iloc[:,:] = mms.fit_transform(train_data.iloc[:,:])

Wall time: 312 ms

c:\program files\python37\lib\site-packages\pandas\core\indexing.py:205: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)
c:\program files\python37\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [31]:
train_data.head()

             Year     Price   Mileage  OptionCount  Accident Check  OwnershipHistory  SellingDays
433298   0.976471  0.014951  0.014309     0.000000            0.00          0.000000     0.003292
2028499  0.870588  0.010547  0.058190     0.109375            0.00          0.111111     0.080814
2057369  0.964706  0.021224  0.019200     0.046875            0.00          0.000000     0.021550
1171083  0.941176  0.046244  0.042946     0.203125            0.25          0.000000     0.020054
2063072  0.917647  0.017120  0.055980     0.046875            0.00          0.000000     0.018557

------------------------------------------------------------------------------------

In [32]:
train_data.shape

(2144893, 7)

In [33]:
train_data.dtypes

Year                float64
Price               float64
Mileage             float64
OptionCount         float64
Accident Check      float64
OwnershipHistory    float64
SellingDays         float64
dtype: object

In [34]:
train_data = train_data.astype('float32')

In [35]:
train_data.dtypes

Year                float32
Price               float32
Mileage             float32
OptionCount         float32
Accident Check      float32
OwnershipHistory    float32
SellingDays         float32
dtype: object

In [36]:
from sklearn.cluster import DBSCAN

In [77]:
db = DBSCAN(eps=0.000000001,
    min_samples=10,
    metric='precomputed',
    n_jobs=-1)

In [38]:
from sklearn.neighbors import NearestNeighbors

In [39]:
nn = NearestNeighbors(metric='euclidean',
    n_jobs=-1)

In [40]:
%%time
nn.fit(train_data)

Wall time: 23min 1s

NearestNeighbors(algorithm='auto', leaf_size=30, metric='euclidean',
                 metric_params=None, n_jobs=-1, n_neighbors=5, p=2, radius=1.0)

In [41]:
%%time
train_data2 = nn.kneighbors_graph(train_data, mode='distance')

Wall time: 1min 4s

In [42]:
train_data2.shape

(2144893, 2144893)

In [64]:
train_data2.data

array([0.        , 0.00062327, 0.00062593, ..., 0.00115871, 0.00188545,
       0.        ])

In [78]:
%%time
y_db = db.fit_predict(train_data2)

Wall time: 3.18 s

In [79]:
np.unique(y_db)

array([-1], dtype=int64)

In [80]:
len(y_db)

2144893