處理 usedCar_Dataset.csv, 產出一份 final_data.csv

將一些欄位去掉 , 同時把類別欄位做 One-Hot Encoding

有簡單的用 most frequent , 來補空值

In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv('usedCar_Dataset.csv')

In [3]:
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

-----------------------------------------------

### 1.資料整理

In [4]:
data.columns

Index(['CarID', 'MakeId', 'Title', 'BodyStyle', 'Rental', 'Location', 'GasMileage_city', 'GasMileage_highway', 'Price', 'Mileage', 'Transmission', 'FuelType', 'ExteriorColor', 'InteriorColor', 'DoorsNum', 'MaximumSeating', 'Engine', 'Drivetrain', 'VIN', 'OptionCount', 'MajorOptions', 'Certified', 'Accident Check', 'OwnershipHistory', 'SellingDays', 'OriginPrice'], dtype='object')

In [5]:
data.head()

       CarID MakeId                                              Title     BodyStyle Rental       Location GasMileage_city GasMileage_highway    Price   Mileage    Transmission  FuelType ExteriorColor InteriorColor DoorsNum MaximumSeating Engine         Drivetrain                VIN  OptionCount                                       MajorOptions Certified  Accident Check  OwnershipHistory  SellingDays  OriginPrice
0  100351603     m1                     2007 Chevrolet Tahoe - $11,999           suv    NaN    Garland, TX             NaN                NaN  11999.0  129280.0       Automatic  Gasoline          Gold           NaN      NaN            NaN     V8                NaN  1GNFC13J47R120389            0                                                NaN       NaN             0.0               2.0         1873      12999.0
1  101113873     m1                   2005 Chevrolet Express - $11,995           van    NaN  Claremont, NH             NaN                NaN  11995.0  118113.0       Automatic       NaN         White           NaN      NaN            NaN    NaN                NaN  1GBJG31U251136588            0                                                NaN       NaN             1.0               1.0         1863          NaN
2  102996725     m1  2010 Chevrolet Silverado 2500HD Work Truck Ext...  pickup_truck    NaN  Frankfort, KY             NaN                NaN  15900.0  144000.0       Automatic  Gasoline         White          Gray  4 doors        6 seats     V8   Four-Wheel Drive  1GC5KVBG7AZ218246            2                           Steel Wheels,Tow Package       NaN             0.0               2.0         1837      16900.0
3  103384798     m1  2014 Chevrolet Corvette Stingray 3LT Coupe RWD...         coupe    NaN  Lewistown, MT     17 MPG City     29 MPG Highway  49995.0    2500.0  7-Speed Manual  Gasoline           Red         Black  2 doors        2 seats     V8   Rear-Wheel Drive  1G1YE2D73E5104797            5  Bluetooth,Backup Camera,Aluminum Wheels,Naviga...       NaN             0.0               1.0         1832      62900.0
4  104800849     m1         2002 Chevrolet Monte Carlo SS FWD - $3,440         coupe    NaN    Delavan, IL     17 MPG City     27 MPG Highway   3440.0  174000.0       Automatic  Gasoline         Black         Black  2 doors        5 seats     V6  Front-Wheel Drive  2G1WX15K829249749            2                      Leather Seats,Aluminum Wheels       NaN             0.0               2.0         1809       4800.0

In [6]:
data.drop(columns=['CarID','MakeId','Rental','VIN','InteriorColor','ExteriorColor','GasMileage_city','GasMileage_highway',
                  'MajorOptions','Certified','OptionCount'])

                                                     Title     BodyStyle       Location    Price   Mileage       Transmission  FuelType DoorsNum MaximumSeating Engine         Drivetrain  Accident Check  OwnershipHistory  SellingDays  OriginPrice
0                           2007 Chevrolet Tahoe - $11,999           suv    Garland, TX  11999.0  129280.0          Automatic  Gasoline      NaN            NaN     V8                NaN             0.0               2.0         1873      12999.0
1                         2005 Chevrolet Express - $11,995           van  Claremont, NH  11995.0  118113.0          Automatic       NaN      NaN            NaN    NaN                NaN             1.0               1.0         1863          NaN
2        2010 Chevrolet Silverado 2500HD Work Truck Ext...  pickup_truck  Frankfort, KY  15900.0  144000.0          Automatic  Gasoline  4 doors        6 seats     V8   Four-Wheel Drive             0.0               2.0         1837      16900.0
3        2014 Chevrolet Corvette Stingray 3LT Coupe RWD...         coupe  Lewistown, MT  49995.0    2500.0     7-Speed Manual  Gasoline  2 doors        2 seats     V8   Rear-Wheel Drive             0.0               1.0         1832      62900.0
4               2002 Chevrolet Monte Carlo SS FWD - $3,440         coupe    Delavan, IL   3440.0  174000.0          Automatic  Gasoline  2 doors        5 seats     V6  Front-Wheel Drive             0.0               2.0         1809       4800.0
...                                                    ...           ...            ...      ...       ...                ...       ...      ...            ...    ...                ...             ...               ...          ...          ...
2375345         2012 FIAT 500 Lounge Convertible - $15,100   convertible      Eynon, PA  15100.0       NaN  5-Speed Automatic  Gasoline  2 doors        4 seats     I4  Front-Wheel Drive             0.0               1.0         1911      26350.0
2375346                                2013 FIAT 500 Sport     hatchback      Eynon, PA      NaN       NaN     5-Speed Manual  Gasoline  2 doors        4 seats     I4  Front-Wheel Drive             0.0               3.0         1911          NaN
2375347                               2012 FIAT 500 Lounge     hatchback      Eynon, PA      NaN       NaN  6-Speed Automatic  Gasoline  2 doors        4 seats     I4  Front-Wheel Drive             0.0               1.0         1911          NaN
2375348                               2013 FIAT 500 Lounge     hatchback      Eynon, PA      NaN       NaN     5-Speed Manual  Gasoline  2 doors        4 seats     I4  Front-Wheel Drive             0.0               1.0         1911          NaN
2375349                                2013 FIAT 500 Sport     hatchback      Eynon, PA      NaN       NaN     5-Speed Manual  Gasoline  2 doors        4 seats     I4  Front-Wheel Drive             0.0               3.0         1911          NaN

[2375350 rows x 15 columns]

##### Title

In [7]:
no_price_title = data['Title'].str.split(' - ', expand=True).iloc[:,0]

In [8]:
Title_only = no_price_title.str.split(' ', n=1,expand=True).iloc[:,1]

In [9]:
Title_only.head(10)

0                                      Chevrolet Tahoe
1                                    Chevrolet Express
2    Chevrolet Silverado 2500HD Work Truck Extended...
3            Chevrolet Corvette Stingray 3LT Coupe RWD
4                         Chevrolet Monte Carlo SS FWD
5                         Chevrolet Monte Carlo LS FWD
6     Chevrolet C/K 2500 Silverado Extended Cab HD 4WD
7         Chevrolet Silverado 1500 LT Extended Cab RWD
8                            Chevrolet Equinox 2LT FWD
9      Chevrolet Silverado 1500 LS Extended Cab LB RWD
Name: 1, dtype: object

In [10]:
len(Title_only.unique())

15513

In [11]:
len(Title_only)

2375350

##### BodyStyle

In [12]:
data['BodyStyle'].unique()

array(['suv', 'van', 'pickup_truck', 'coupe', 'crossover', 'sedan',
       'convertible', 'hatchback', nan, 'minivan', 'wagon'], dtype=object)

##### Location

In [13]:
location = data['Location'].str.split(',', expand = True).iloc[:,1]

In [14]:
location.unique()

array([' TX', ' NH', ' KY', ' MT', ' IL', ' SD', ' FL', ' OR', ' PA',
       ' IN', ' GA', ' NY', ' OH', ' IA', ' WI', ' SC', ' CA', ' MN',
       ' NJ', ' AZ', ' OK', ' NE', ' WA', ' AL', ' MA', ' MI', ' MO',
       ' VA', ' UT', ' TN', ' WV', ' NV', ' ID', ' CT', ' VT', ' NC',
       ' KS', ' RI', ' CO', ' LA', ' ME', ' AR', ' MS', ' MD', ' NM',
       ' DE', ' WY', ' ND', ' ON', ' DC', ' California'], dtype=object)

In [15]:
len(location.unique())

51

In [16]:
def tranlocation(x):
    if 'California' in x:
            return ' CA'
    else:
        return x

location = location.apply(tranlocation)

In [17]:
location.unique()

array([' TX', ' NH', ' KY', ' MT', ' IL', ' SD', ' FL', ' OR', ' PA',
       ' IN', ' GA', ' NY', ' OH', ' IA', ' WI', ' SC', ' CA', ' MN',
       ' NJ', ' AZ', ' OK', ' NE', ' WA', ' AL', ' MA', ' MI', ' MO',
       ' VA', ' UT', ' TN', ' WV', ' NV', ' ID', ' CT', ' VT', ' NC',
       ' KS', ' RI', ' CO', ' LA', ' ME', ' AR', ' MS', ' MD', ' NM',
       ' DE', ' WY', ' ND', ' ON', ' DC'], dtype=object)

In [18]:
len(location.unique())

50

In [19]:
location = location.str.strip()

In [20]:
location.unique()

array(['TX', 'NH', 'KY', 'MT', 'IL', 'SD', 'FL', 'OR', 'PA', 'IN', 'GA',
       'NY', 'OH', 'IA', 'WI', 'SC', 'CA', 'MN', 'NJ', 'AZ', 'OK', 'NE',
       'WA', 'AL', 'MA', 'MI', 'MO', 'VA', 'UT', 'TN', 'WV', 'NV', 'ID',
       'CT', 'VT', 'NC', 'KS', 'RI', 'CO', 'LA', 'ME', 'AR', 'MS', 'MD',
       'NM', 'DE', 'WY', 'ND', 'ON', 'DC'], dtype=object)

In [21]:
len(location.unique())

50

In [22]:
# Abbreviation

##### Transmission

In [23]:
data['Transmission'].unique()

array(['Automatic', '7-Speed Manual', '5-Speed Automatic',
       '4-Speed Automatic', '6-Speed Automatic', nan, 'Manual',
       '3-Speed Manual', '6-Speed Manual', '5-Speed Manual',
       '4-Speed Manual', '6-Speed Automatic Overdrive',
       '8-Speed Automatic', '2-Speed Automatic',
       '4-Speed Automatic Overdrive',
       'Continuously Variable Transmission', '3-Speed Automatic',
       '9-Speed Automatic', '6-Speed Manual Overdrive',
       '1-Speed Automatic', '8-Speed Automatic Overdrive',
       '9-Speed Automatic Overdrive', '5-Speed Manual Overdrive',
       '5-Speed Automatic Overdrive', '7-Speed Automatic', '1-Speed CVT',
       '1-Speed Dual Clutch', '4-Speed CVT',
       '6-Speed Dual Clutch Overdrive', '8-Speed Manual',
       '10-Speed Automatic', '4-Speed Manual Overdrive',
       '7-Speed Manual Overdrive', '7-Speed Automatic Overdrive',
       '7-Speed CVT', '10-Speed Dual Clutch', '6-Speed CVT',
       '6-Speed Dual Clutch', '5-Speed Dual Clutch', '8-Speed CVT',
       '3-Speed Automatic Overdrive', '7-Speed Dual Clutch',
       '10-Speed CVT', '4-Speed Dual Clutch', '8-Speed Dual Clutch',
       '9-Speed Dual Clutch'], dtype=object)

In [24]:
def Transmission(x):
    if type(x)==str:
        if 'automatic' in x.lower():
            return 'Automatic'
        elif 'manual' in x.lower():
            return 'Manual'
        elif 'CVT' in x:
            return 'CVT'
        elif 'Dual Clutch' in x:
            return 'Dual Clutch'
        elif 'Continuously' in x:
            return 'CVT'
        else:
            return x
    else:
        return x

data['Transmission'] = data['Transmission'].apply(Transmission)

In [25]:
# Automatic Transmission，縮寫：AT : 自動變速
# Manual Transmission，縮寫：MT : 手排變速
# dual-clutch transmission，簡稱：DCT : 雙離合變速(半自動變速)
# Continuously Variable Transmission，縮寫：CVT : 無段自排(動)變速(是一種自動變速器，可以通過連續變速改變有效傳動比)

In [26]:
# devide_nums = data['Transmission'].str.split(r"[0-9]", n=1, expand=True)

# devide_nums

# devide_nums[0].unique()

# devide_nums[1].unique()

# devide_nums.columns

# devide_nums.rename(columns={0: "a", 1: "b"}, inplace=True)

# devide_nums

# first_column = devide_nums[0]

# first_column.fillna(value='',inplace=True)
# # 把nan改成 '' 空字串

# first_column.unique()

# first_column.apply(lambda x:x == 'Continuously Variable Transmission')

# first_column[first_column.apply(lambda x:x == 'Continuously Variable Transmission')] = 'CVT'

# first_column.unique()
# # 將 'Continuously Variable Transmission' 改成 'CVT'

# first_column

# second_column = devide_nums[1]

# second_column.fillna(value='',inplace=True)

# second_column.unique()

# second_column

# overdrive 超速檔 , 增速驅動裝置

# column2 = second_column.str.split('-Speed ',expand=True)

# column2[0].unique()

# column2[1].unique()

# column2[1].fillna(value='',inplace=True)

# column2[1].unique()

# column2[column2[1] == 'Automatic Overdrive'] = 'Automatic'
# column2[column2[1] == 'Manual Overdrive'] = 'Manual'
# column2[column2[1] == 'Dual Clutch Overdrive'] = 'Dual Clutch'

# column2[1].unique()

# final_second_column = column2[1]



# first_column.unique()

# final_second_column.unique()

# type(first_column)

# type(final_second_column)

# pd.concat([first_column,final_second_column])

# first = first_column.to_frame(name="first1")

# second = final_second_column.to_frame(name='second2')

------------------------------------------------------------

##### FuelType

In [27]:
data['FuelType'].unique()

array(['Gasoline', nan, 'Flex Fuel Vehicle', 'Diesel', 'Hybrid',
       'Electric', 'Biodiesel', 'Compressed Natural Gas', 'Propane'],
      dtype=object)

------------------------------------

##### DoorsNum

In [28]:
data['DoorsNum'].str.split(' ',expand=True).iloc[:,0]

0          NaN
1          NaN
2            4
3            2
4            2
          ...
2375345      2
2375346      2
2375347      2
2375348      2
2375349      2
Name: 0, Length: 2375350, dtype: object

In [29]:
data['DoorsNum'] = data['DoorsNum'].str.split(' ',expand=True).iloc[:,0]

In [30]:
data['DoorsNum'].unique()

array([nan, '4', '2', '3'], dtype=object)

In [31]:
def strtonum(x):
    if type(x) == str:
        return int(x)

In [32]:
data['DoorsNum'].apply(strtonum)

0          NaN
1          NaN
2          4.0
3          2.0
4          2.0
          ...
2375345    2.0
2375346    2.0
2375347    2.0
2375348    2.0
2375349    2.0
Name: DoorsNum, Length: 2375350, dtype: float64

In [33]:
data['DoorsNum']

0          NaN
1          NaN
2            4
3            2
4            2
          ...
2375345      2
2375346      2
2375347      2
2375348      2
2375349      2
Name: DoorsNum, Length: 2375350, dtype: object

In [34]:
data['DoorsNum'].unique()

array([nan, '4', '2', '3'], dtype=object)

----------------------------------------------------

##### MaximumSeating

In [35]:
data['MaximumSeating'] = data['MaximumSeating'].str.split(' ',expand=True).iloc[:,0]

In [36]:
data['MaximumSeating'].unique()

array([nan, '6', '2', '5', '9', '4', '3', '12', '8', '7', '15', '10'],
      dtype=object)

-----------------------------------------------

##### Engine

In [37]:
data['Engine'].unique()

array(['V8', nan, 'V6', 'V8 Flex Fuel Vehicle', 'V6 Flex Fuel Vehicle',
       'I4', 'V8 Diesel', 'I4 Flex Fuel Vehicle', 'I6', 'I4 Diesel',
       'I4 Hybrid', 'I5', 'V8 Biodiesel', 'V8 Compressed Natural Gas',
       'V8 Hybrid', 'V6 Compressed Natural Gas', 'I6 Diesel', 'I3', 'V12',
       'V10', 'V6 Diesel', 'W12', 'V6 Biodiesel', 'I5 Biodiesel',
       'V8 Propane', 'W12 Flex Fuel Vehicle', 'I5 Diesel', 'V12 Hybrid',
       'I2', 'I6 Hybrid', 'V6 Hybrid', 'R2', 'H6', 'H4', 'H4 Hybrid',
       'V10 Diesel', 'W8', 'I4 Compressed Natural Gas', 'I3 Hybrid'],
      dtype=object)

In [38]:
def trans_engine(x):
    if type(x)==str:
        if 'V8' in x:
            return 'V8'
        elif 'V6' in x:
            return 'V6'
        elif 'I4' in x:
            return 'I4'
        elif 'I6' in x:
            return 'I6'
        elif 'I5' in x:
            return 'I5'
        elif 'I3' in x:
            return 'I3'
        elif 'V12' in x:
            return 'V12'
        elif 'W12' in x:
            return 'W12'
        elif 'H4' in x:
            return 'H4'
        elif 'V10' in x:
            return 'V10'
        else:
            return x

In [39]:
data['Engine'] = data['Engine'].apply(trans_engine)

In [40]:
data['Engine'].unique()

array(['V8', None, 'V6', 'I4', 'I6', 'I5', 'I3', 'V12', 'V10', 'W12',
       'I2', 'R2', 'H6', 'H4', 'W8'], dtype=object)

--------------------------------------------------------

##### Drivetrain

In [41]:
data['Drivetrain']

0                        NaN
1                        NaN
2           Four-Wheel Drive
3           Rear-Wheel Drive
4          Front-Wheel Drive
                 ...
2375345    Front-Wheel Drive
2375346    Front-Wheel Drive
2375347    Front-Wheel Drive
2375348    Front-Wheel Drive
2375349    Front-Wheel Drive
Name: Drivetrain, Length: 2375350, dtype: object

In [42]:
data['Drivetrain'].unique()
# Rear-Wheel Drive 後輪驅動
# 4X2 「X」前的數字表示車輛車輪總數，「X」後面的數字表示驅動輪數
#    實際上就是一輛兩軸的卡車，也就是俗稱的單橋車，他總共是4個車輪，後橋的2個車輪承擔驅動作用，所以標註為4X2。
#    原文網址：https://kknews.cc/car/alk32x.html

array([nan, 'Four-Wheel Drive', 'Rear-Wheel Drive', 'Front-Wheel Drive',
       '4X2', 'All-Wheel Drive'], dtype=object)

------------------------------------------------

### 2.處理類別型態資料

In [43]:
newdata = data.drop(columns=['CarID','MakeId','Rental','VIN','InteriorColor','ExteriorColor','GasMileage_city','GasMileage_highway',
                  'MajorOptions','Certified','OptionCount'])

In [44]:
newdata.head(10)

                                               Title     BodyStyle       Location    Price   Mileage Transmission  FuelType DoorsNum MaximumSeating Engine         Drivetrain  Accident Check  OwnershipHistory  SellingDays  OriginPrice
0                     2007 Chevrolet Tahoe - $11,999           suv    Garland, TX  11999.0  129280.0    Automatic  Gasoline      NaN            NaN     V8                NaN             0.0               2.0         1873      12999.0
1                   2005 Chevrolet Express - $11,995           van  Claremont, NH  11995.0  118113.0    Automatic       NaN      NaN            NaN   None                NaN             1.0               1.0         1863          NaN
2  2010 Chevrolet Silverado 2500HD Work Truck Ext...  pickup_truck  Frankfort, KY  15900.0  144000.0    Automatic  Gasoline        4              6     V8   Four-Wheel Drive             0.0               2.0         1837      16900.0
3  2014 Chevrolet Corvette Stingray 3LT Coupe RWD...         coupe  Lewistown, MT  49995.0    2500.0       Manual  Gasoline        2              2     V8   Rear-Wheel Drive             0.0               1.0         1832      62900.0
4         2002 Chevrolet Monte Carlo SS FWD - $3,440         coupe    Delavan, IL   3440.0  174000.0    Automatic  Gasoline        2              5     V6  Front-Wheel Drive             0.0               2.0         1809       4800.0
5         2004 Chevrolet Monte Carlo LS FWD - $4,890         coupe    Delavan, IL   4890.0  115500.0    Automatic  Gasoline        2              5     V6  Front-Wheel Drive             0.0               3.0         1809          NaN
6  1998 Chevrolet C/K 2500 Silverado Extended Cab...  pickup_truck    Delavan, IL   4660.0  249000.0    Automatic  Gasoline        2              6     V8   Four-Wheel Drive             0.0               3.0         1809          NaN
7  2001 Chevrolet Silverado 1500 LT Extended Cab ...  pickup_truck    Delavan, IL   6550.0  188583.0    Automatic  Gasoline        4              5     V8   Rear-Wheel Drive             0.0               1.0         1809          NaN
8            2009 Chevrolet Equinox 2LT FWD - $9,960     crossover    Delavan, IL   9960.0   80124.0    Automatic  Gasoline        4              5     V6  Front-Wheel Drive             0.0               2.0         1809      12740.0
9  2004 Chevrolet Silverado 1500 LS Extended Cab ...  pickup_truck    Delavan, IL   9220.0  103000.0    Automatic  Gasoline        4              6     V8   Rear-Wheel Drive             0.0               1.0         1809          NaN

In [45]:
newdata = newdata.drop(columns=['Title'])

In [46]:
newdata.head(5)

      BodyStyle       Location    Price   Mileage Transmission  FuelType DoorsNum MaximumSeating Engine         Drivetrain  Accident Check  OwnershipHistory  SellingDays  OriginPrice
0           suv    Garland, TX  11999.0  129280.0    Automatic  Gasoline      NaN            NaN     V8                NaN             0.0               2.0         1873      12999.0
1           van  Claremont, NH  11995.0  118113.0    Automatic       NaN      NaN            NaN   None                NaN             1.0               1.0         1863          NaN
2  pickup_truck  Frankfort, KY  15900.0  144000.0    Automatic  Gasoline        4              6     V8   Four-Wheel Drive             0.0               2.0         1837      16900.0
3         coupe  Lewistown, MT  49995.0    2500.0       Manual  Gasoline        2              2     V8   Rear-Wheel Drive             0.0               1.0         1832      62900.0
4         coupe    Delavan, IL   3440.0  174000.0    Automatic  Gasoline        2              5     V6  Front-Wheel Drive             0.0               2.0         1809       4800.0

In [47]:
newdata.insert(0, "Title", Title_only, True)
# 將原本的 Title 欄位 drop掉後 , 用上面做出來的 Title only換掉

In [48]:
newdata = newdata.drop(columns=['Location'])

In [49]:
newdata.insert(1, "Location", location, True)

In [50]:
newdata.head(5)

                                               Title Location     BodyStyle    Price   Mileage Transmission  FuelType DoorsNum MaximumSeating Engine         Drivetrain  Accident Check  OwnershipHistory  SellingDays  OriginPrice
0                                    Chevrolet Tahoe       TX           suv  11999.0  129280.0    Automatic  Gasoline      NaN            NaN     V8                NaN             0.0               2.0         1873      12999.0
1                                  Chevrolet Express       NH           van  11995.0  118113.0    Automatic       NaN      NaN            NaN   None                NaN             1.0               1.0         1863          NaN
2  Chevrolet Silverado 2500HD Work Truck Extended...       KY  pickup_truck  15900.0  144000.0    Automatic  Gasoline        4              6     V8   Four-Wheel Drive             0.0               2.0         1837      16900.0
3          Chevrolet Corvette Stingray 3LT Coupe RWD       MT         coupe  49995.0    2500.0       Manual  Gasoline        2              2     V8   Rear-Wheel Drive             0.0               1.0         1832      62900.0
4                       Chevrolet Monte Carlo SS FWD       IL         coupe   3440.0  174000.0    Automatic  Gasoline        2              5     V6  Front-Wheel Drive             0.0               2.0         1809       4800.0

In [51]:
newdata = newdata.drop(columns=['Title'])

In [52]:
newdata.head(3)

  Location     BodyStyle    Price   Mileage Transmission  FuelType DoorsNum MaximumSeating Engine        Drivetrain  Accident Check  OwnershipHistory  SellingDays  OriginPrice
0       TX           suv  11999.0  129280.0    Automatic  Gasoline      NaN            NaN     V8               NaN             0.0               2.0         1873      12999.0
1       NH           van  11995.0  118113.0    Automatic       NaN      NaN            NaN   None               NaN             1.0               1.0         1863          NaN
2       KY  pickup_truck  15900.0  144000.0    Automatic  Gasoline        4              6     V8  Four-Wheel Drive             0.0               2.0         1837      16900.0

In [53]:
newdata.dtypes

Location             object
BodyStyle            object
Price               float64
Mileage             float64
Transmission         object
FuelType             object
DoorsNum             object
MaximumSeating       object
Engine               object
Drivetrain           object
Accident Check      float64
OwnershipHistory    float64
SellingDays           int64
OriginPrice         float64
dtype: object

In [54]:
newdata.isnull().sum()

Location                  0
BodyStyle              3245
Price                128142
Mileage               35999
Transmission          43703
FuelType              56003
DoorsNum            1139822
MaximumSeating       115232
Engine                60814
Drivetrain           115321
Accident Check        32329
OwnershipHistory      70706
SellingDays               0
OriginPrice         1124126
dtype: int64

In [55]:
newdata = newdata.dropna(subset=['Price'])

In [56]:
newdata.isnull().sum()

Location                  0
BodyStyle              3009
Price                     0
Mileage               24052
Transmission          35354
FuelType              51693
DoorsNum            1086584
MaximumSeating       100710
Engine                56342
Drivetrain           100756
Accident Check        28850
OwnershipHistory      64039
SellingDays               0
OriginPrice          999285
dtype: int64

In [57]:
newdata = newdata.dropna(subset=['Mileage'])

In [58]:
newdata.isnull().sum()

Location                  0
BodyStyle              2620
Price                     0
Mileage                   0
Transmission          33820
FuelType              48822
DoorsNum            1073776
MaximumSeating        96711
Engine                53383
Drivetrain            96762
Accident Check        26313
OwnershipHistory      55879
SellingDays               0
OriginPrice          984435
dtype: int64

In [59]:
len(newdata)

2223156

In [60]:
from sklearn.preprocessing import Imputer

In [61]:
imr = Imputer(missing_values='NaN', strategy='most_frequent', axis=0)

c:\program files\python37\lib\site-packages\sklearn\utils\deprecation.py:66: DeprecationWarning: Class Imputer is deprecated; Imputer was deprecated in version 0.20 and will be removed in 0.22. Import impute.SimpleImputer from sklearn instead.
  warnings.warn(msg, category=DeprecationWarning)

In [62]:
newdata[['DoorsNum']] = imr.fit_transform(newdata[['DoorsNum']])

In [63]:
newdata.isnull().sum()

Location                 0
BodyStyle             2620
Price                    0
Mileage                  0
Transmission         33820
FuelType             48822
DoorsNum                 0
MaximumSeating       96711
Engine               53383
Drivetrain           96762
Accident Check       26313
OwnershipHistory     55879
SellingDays              0
OriginPrice         984435
dtype: int64

In [64]:
newdata[['MaximumSeating']] = imr.fit_transform(newdata[['MaximumSeating']])

In [65]:
newdata.isnull().sum()

Location                 0
BodyStyle             2620
Price                    0
Mileage                  0
Transmission         33820
FuelType             48822
DoorsNum                 0
MaximumSeating           0
Engine               53383
Drivetrain           96762
Accident Check       26313
OwnershipHistory     55879
SellingDays              0
OriginPrice         984435
dtype: int64

In [66]:
newdata['OriginPrice'] = newdata['OriginPrice'].fillna(newdata['Price'])

In [67]:
newdata.isnull().sum()

Location                0
BodyStyle            2620
Price                   0
Mileage                 0
Transmission        33820
FuelType            48822
DoorsNum                0
MaximumSeating          0
Engine              53383
Drivetrain          96762
Accident Check      26313
OwnershipHistory    55879
SellingDays             0
OriginPrice             0
dtype: int64

In [68]:
newdata = newdata.fillna(newdata.mode().iloc[0])
# 用每一個欄位 ,各自的眾數(most frequent)來補空值

In [69]:
newdata.isnull().sum()

Location            0
BodyStyle           0
Price               0
Mileage             0
Transmission        0
FuelType            0
DoorsNum            0
MaximumSeating      0
Engine              0
Drivetrain          0
Accident Check      0
OwnershipHistory    0
SellingDays         0
OriginPrice         0
dtype: int64

In [70]:
newdata.dtypes

Location             object
BodyStyle            object
Price               float64
Mileage             float64
Transmission         object
FuelType             object
DoorsNum            float64
MaximumSeating      float64
Engine               object
Drivetrain           object
Accident Check      float64
OwnershipHistory    float64
SellingDays           int64
OriginPrice         float64
dtype: object

---------------------------------------

##### 將 newdata 和 state 合併

In [71]:
state = pd.read_csv('StateResult.csv')

In [72]:
state.head(5)

   Unnamed: 0                 State  Median Household Income(USD)  Income Ranking Abbreviation   OriginPrice  Cost Ranking     Density      Pop  LandArea  Vehicle Count
0           0  District of Columbia                       82604.0               1           DC  16599.842105            50  11665.0984   711571        61             39
1           1            New Jersey                       79363.0               3           NJ  22646.412108            39   1213.2917  8922547      7354          68259
2           2         Massachusetts                       77378.0               5           MA  23075.239772            28    889.6632  6939373      7800          53231
3           3           Connecticut                       76106.0               7           CT  22848.884651            34    736.8589  3567871      4842          30298
4           4              Maryland                       81868.0               2           MD  23859.104523            19    624.5923  6062917      9707          40098

In [73]:
state = state.drop(columns=['Unnamed: 0','State','OriginPrice'])

In [74]:
state.head(5)

   Median Household Income(USD)  Income Ranking Abbreviation  Cost Ranking     Density      Pop  LandArea  Vehicle Count
0                       82604.0               1           DC            50  11665.0984   711571        61             39
1                       79363.0               3           NJ            39   1213.2917  8922547      7354          68259
2                       77378.0               5           MA            28    889.6632  6939373      7800          53231
3                       76106.0               7           CT            34    736.8589  3567871      4842          30298
4                       81868.0               2           MD            19    624.5923  6062917      9707          40098

In [75]:
state.rename(columns={"Abbreviation": "Location"}, inplace=True)

In [76]:
state.head(3)

   Median Household Income(USD)  Income Ranking Location  Cost Ranking     Density      Pop  LandArea  Vehicle Count
0                       82604.0               1       DC            50  11665.0984   711571        61             39
1                       79363.0               3       NJ            39   1213.2917  8922547      7354          68259
2                       77378.0               5       MA            28    889.6632  6939373      7800          53231

In [77]:
newdata = pd.merge(newdata, state, on="Location")

In [78]:
newdata.head(3)

  Location  BodyStyle    Price   Mileage Transmission  FuelType  DoorsNum  MaximumSeating Engine         Drivetrain  Accident Check  OwnershipHistory  SellingDays  OriginPrice  Median Household Income(USD)  Income Ranking  Cost Ranking   Density       Pop  LandArea  Vehicle Count
0       TX        suv  11999.0  129280.0    Automatic  Gasoline       4.0             5.0     V8  Front-Wheel Drive             0.0               2.0         1873      12999.0                       59570.0              21             9  111.3457  29087070    261232         199688
1       TX      coupe  34999.0   21806.0       Manual  Gasoline       2.0             2.0     V8   Rear-Wheel Drive             0.0               3.0         1690      37000.0                       59570.0              21             9  111.3457  29087070    261232         199688
2       TX  hatchback  39995.0   14170.0    Automatic  Gasoline       4.0             4.0     I4  Front-Wheel Drive             0.0               1.0         1506      24995.0                       59570.0              21             9  111.3457  29087070    261232         199688

---------------------------------------------

In [79]:
final_data = pd.get_dummies(newdata,
                            columns=['Location', 'BodyStyle','Transmission','FuelType','Engine','Drivetrain'], 
                            sparse=True, 
                            dtype=int)

In [80]:
len(final_data.columns)

104

In [81]:
final_data.dtypes

Price                                       float64
Mileage                                     float64
DoorsNum                                    float64
MaximumSeating                              float64
Accident Check                              float64
OwnershipHistory                            float64
SellingDays                                   int64
OriginPrice                                 float64
Median Household Income(USD)                float64
Income Ranking                                int64
Cost Ranking                                  int64
Density                                     float64
Pop                                           int64
LandArea                                      int64
Vehicle Count                                 int64
Location_AL                        Sparse[int32, 0]
Location_AR                        Sparse[int32, 0]
Location_AZ                        Sparse[int32, 0]
Location_CA                        Sparse[int32, 0]
Location_CO                        Sparse[int32, 0]
Location_CT                        Sparse[int32, 0]
Location_DC                        Sparse[int32, 0]
Location_DE                        Sparse[int32, 0]
Location_FL                        Sparse[int32, 0]
Location_GA                        Sparse[int32, 0]
Location_IA                        Sparse[int32, 0]
Location_ID                        Sparse[int32, 0]
Location_IL                        Sparse[int32, 0]
Location_IN                        Sparse[int32, 0]
Location_KS                        Sparse[int32, 0]
Location_KY                        Sparse[int32, 0]
Location_LA                        Sparse[int32, 0]
Location_MA                        Sparse[int32, 0]
Location_MD                        Sparse[int32, 0]
Location_ME                        Sparse[int32, 0]
Location_MI                        Sparse[int32, 0]
Location_MN                        Sparse[int32, 0]
Location_MO                        Sparse[int32, 0]
Location_MS                        Sparse[int32, 0]
Location_MT                        Sparse[int32, 0]
Location_NC                        Sparse[int32, 0]
Location_ND                        Sparse[int32, 0]
Location_NE                        Sparse[int32, 0]
Location_NH                        Sparse[int32, 0]
Location_NJ                        Sparse[int32, 0]
Location_NM                        Sparse[int32, 0]
Location_NV                        Sparse[int32, 0]
Location_NY                        Sparse[int32, 0]
Location_OH                        Sparse[int32, 0]
Location_OK                        Sparse[int32, 0]
Location_OR                        Sparse[int32, 0]
Location_PA                        Sparse[int32, 0]
Location_SC                        Sparse[int32, 0]
Location_SD                        Sparse[int32, 0]
Location_TN                        Sparse[int32, 0]
Location_TX                        Sparse[int32, 0]
Location_UT                        Sparse[int32, 0]
Location_VA                        Sparse[int32, 0]
Location_VT                        Sparse[int32, 0]
Location_WA                        Sparse[int32, 0]
Location_WI                        Sparse[int32, 0]
Location_WV                        Sparse[int32, 0]
Location_WY                        Sparse[int32, 0]
BodyStyle_convertible              Sparse[int32, 0]
BodyStyle_coupe                    Sparse[int32, 0]
BodyStyle_crossover                Sparse[int32, 0]
BodyStyle_hatchback                Sparse[int32, 0]
BodyStyle_minivan                  Sparse[int32, 0]
BodyStyle_pickup_truck             Sparse[int32, 0]
BodyStyle_sedan                    Sparse[int32, 0]
BodyStyle_suv                      Sparse[int32, 0]
BodyStyle_van                      Sparse[int32, 0]
BodyStyle_wagon                    Sparse[int32, 0]
Transmission_Automatic             Sparse[int32, 0]
Transmission_CVT                   Sparse[int32, 0]
Transmission_Dual Clutch           Sparse[int32, 0]
Transmission_Manual                Sparse[int32, 0]
FuelType_Biodiesel                 Sparse[int32, 0]
FuelType_Compressed Natural Gas    Sparse[int32, 0]
FuelType_Diesel                    Sparse[int32, 0]
FuelType_Electric                  Sparse[int32, 0]
FuelType_Flex Fuel Vehicle         Sparse[int32, 0]
FuelType_Gasoline                  Sparse[int32, 0]
FuelType_Hybrid                    Sparse[int32, 0]
FuelType_Propane                   Sparse[int32, 0]
Engine_H4                          Sparse[int32, 0]
Engine_H6                          Sparse[int32, 0]
Engine_I2                          Sparse[int32, 0]
Engine_I3                          Sparse[int32, 0]
Engine_I4                          Sparse[int32, 0]
Engine_I5                          Sparse[int32, 0]
Engine_I6                          Sparse[int32, 0]
Engine_R2                          Sparse[int32, 0]
Engine_V10                         Sparse[int32, 0]
Engine_V12                         Sparse[int32, 0]
Engine_V6                          Sparse[int32, 0]
Engine_V8                          Sparse[int32, 0]
Engine_W12                         Sparse[int32, 0]
Engine_W8                          Sparse[int32, 0]
Drivetrain_4X2                     Sparse[int32, 0]
Drivetrain_All-Wheel Drive         Sparse[int32, 0]
Drivetrain_Four-Wheel Drive        Sparse[int32, 0]
Drivetrain_Front-Wheel Drive       Sparse[int32, 0]
Drivetrain_Rear-Wheel Drive        Sparse[int32, 0]
dtype: object

In [82]:
final_data.to_csv(r'C:\machine_learning\final_data.csv', index = None, header=True)