In [1]:
import numpy as np
import pandas as pd

In [2]:
pd.set_option('display.max_columns',1000)
pd.set_option('display.max_rows',500)
pd.set_option('display.width',1000)

In [3]:
%%time
raw_data = pd.read_csv('usedCar_Dataset_0206.csv')

--------------------------------------------------------------------------

In [4]:
the_vin = raw_data[raw_data.duplicated(subset='VIN', keep=False)]
the_vin[the_vin.duplicated(subset=['CarID'], keep=False)]
data1 = raw_data[~raw_data.duplicated(subset=['CarID'], keep='last')]
data1.duplicated(subset=['CarID'], keep=False).sum()

0

In [5]:
the_vin = data1[data1.duplicated(subset=['VIN'], keep=False)]
data1 = data1.drop(index=[1296653,1524990])

In [6]:
data1.shape

(2370776, 30)

In [7]:
data1.head()

       CarID MakeId                                              Title  Year       Make             Model                            Trim     BodyStyle Rental       Location GasMileage_city GasMileage_highway    Price   Mileage    Transmission  FuelType ExteriorColor InteriorColor DoorsNum MaximumSeating Engine         Drivetrain                VIN  OptionCount                                       MajorOptions Certified  Accident Check  OwnershipHistory  SellingDays  OriginPrice
0  100351603     m1                     2007 Chevrolet Tahoe - $11,999  2007  Chevrolet             Tahoe                             NaN           suv    NaN    Garland, TX             NaN                NaN  11999.0  129280.0       Automatic  Gasoline          Gold           NaN      NaN            NaN     V8                NaN  1GNFC13J47R120389            0                                                NaN       NaN             0.0               2.0         1873      12999.0
1  101113873     m1                   2005 Chevrolet Express - $11,995  2005  Chevrolet           Express                             NaN           van    NaN  Claremont, NH             NaN                NaN  11995.0  118113.0       Automatic       NaN         White           NaN      NaN            NaN    NaN                NaN  1GBJG31U251136588            0                                                NaN       NaN             1.0               1.0         1863          NaN
2  102996725     m1  2010 Chevrolet Silverado 2500HD Work Truck Ext...  2010  Chevrolet  Silverado 2500HD  Work Truck Extended Cab LB 4WD  pickup_truck    NaN  Frankfort, KY             NaN                NaN  15900.0  144000.0       Automatic  Gasoline         White          Gray  4 doors        6 seats     V8   Four-Wheel Drive  1GC5KVBG7AZ218246            2                           Steel Wheels,Tow Package       NaN             0.0               2.0         1837      16900.0
3  103384798     m1  2014 Chevrolet Corvette Stingray 3LT Coupe RWD...  2014  Chevrolet          Corvette          Stingray 3LT Coupe RWD         coupe    NaN  Lewistown, MT     17 MPG City     29 MPG Highway  49995.0    2500.0  7-Speed Manual  Gasoline           Red         Black  2 doors        2 seats     V8   Rear-Wheel Drive  1G1YE2D73E5104797            5  Bluetooth,Backup Camera,Aluminum Wheels,Naviga...       NaN             0.0               1.0         1832      62900.0
4  104800849     m1         2002 Chevrolet Monte Carlo SS FWD - $3,440  2002  Chevrolet       Monte Carlo                          SS FWD         coupe    NaN    Delavan, IL     17 MPG City     27 MPG Highway   3440.0  174000.0       Automatic  Gasoline         Black         Black  2 doors        5 seats     V6  Front-Wheel Drive  2G1WX15K829249749            2                      Leather Seats,Aluminum Wheels       NaN             0.0               2.0         1809       4800.0

In [8]:
data1 = data1.drop(index=1235578)

In [10]:
brands = np.unique(data1['Make'])

In [11]:
for id in brands:
    brand_index = data1['Make'] == id
    part = data1.loc[brand_index,:]
    
    most = part.groupby(by='BodyStyle').size().sort_values(ascending=False).index[0]
    
    need_fill = part.loc[:,'BodyStyle'].isnull()
    
    part.loc[need_fill, 'BodyStyle'] = part.loc[need_fill,'BodyStyle'].fillna(value=most)
    
    data1.loc[brand_index, 'BodyStyle'] = part.loc[:, 'BodyStyle']

c:\program files\python37\lib\site-packages\pandas\core\indexing.py:494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [12]:
data1.isnull().sum()

CarID                       0
MakeId                      0
Title                       0
Year                        0
Make                        0
Model                       0
Trim                   110155
BodyStyle                   0
Rental                1968034
Location                    0
GasMileage_city        467050
GasMileage_highway     467050
Price                  127920
Mileage                 35969
Transmission            43611
FuelType                55843
ExteriorColor           57359
InteriorColor          413991
DoorsNum              1137475
MaximumSeating         114966
Engine                  60654
Drivetrain             115054
VIN                      2239
OptionCount                 0
MajorOptions           310480
Certified             2126393
Accident Check          32305
OwnershipHistory        70501
SellingDays                 0
OriginPrice           1122205
dtype: int64

In [13]:
data1.shape

(2370775, 30)

In [14]:
data1 = data1.dropna(subset=['Price'])

In [15]:
data1.shape

(2242855, 30)

In [19]:
data1.iloc[:,[0,3,4,7]]

             CarID  Year       Make     BodyStyle
0        100351603  2007  Chevrolet           suv
1        101113873  2005  Chevrolet           van
2        102996725  2010  Chevrolet  pickup_truck
3        103384798  2014  Chevrolet         coupe
4        104800849  2002  Chevrolet         coupe
...            ...   ...        ...           ...
2375341   96305013  2014       FIAT     hatchback
2375342   97006670  2012       FIAT   convertible
2375343   97006672  2012       FIAT   convertible
2375344   97006673  2012       FIAT     hatchback
2375345   97006676  2012       FIAT   convertible

[2242855 rows x 4 columns]

In [25]:
data1.iloc[:,9] = data1.iloc[:,9].str.split(', ', expand=True).iloc[:,1]

In [26]:
data1.iloc[:,9]

0          TX
1          NH
2          KY
3          MT
4          IL
           ..
2375341    PA
2375342    PA
2375343    PA
2375344    PA
2375345    PA
Name: Location, Length: 2242855, dtype: object

In [27]:
np.unique(data1.iloc[:,9])

array(['AL', 'AR', 'AZ', 'CA', 'CO', 'CT', 'California', 'DC', 'DE', 'FL',
       'GA', 'IA', 'ID', 'IL', 'IN', 'KS', 'KY', 'LA', 'MA', 'MD', 'ME',
       'MI', 'MN', 'MO', 'MS', 'MT', 'NC', 'ND', 'NE', 'NH', 'NJ', 'NM',
       'NV', 'NY', 'OH', 'OK', 'ON', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN',
       'TX', 'UT', 'VA', 'VT', 'WA', 'WI', 'WV', 'WY'], dtype=object)

In [29]:
def tranlocation(x):
    if x.Location == 'California':
        return 'CA'
    else :
        return x.Location

In [30]:
data1.iloc[:,9] = data1.apply(tranlocation, axis=1)

In [31]:
np.unique(data1.iloc[:,9])

array(['AL', 'AR', 'AZ', 'CA', 'CO', 'CT', 'DC', 'DE', 'FL', 'GA', 'IA',
       'ID', 'IL', 'IN', 'KS', 'KY', 'LA', 'MA', 'MD', 'ME', 'MI', 'MN',
       'MO', 'MS', 'MT', 'NC', 'ND', 'NE', 'NH', 'NJ', 'NM', 'NV', 'NY',
       'OH', 'OK', 'ON', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX', 'UT',
       'VA', 'VT', 'WA', 'WI', 'WV', 'WY'], dtype=object)

In [32]:
len(np.unique(data1.iloc[:,9]))

50

In [37]:
data1.iloc[:,[0,3,4,7,9,12,13,23,26,27,28]].isnull().sum()

CarID                   0
Year                    0
Make                    0
BodyStyle               0
Location                0
Price                   0
Mileage             24023
OptionCount             0
Accident Check      28827
OwnershipHistory    63847
SellingDays             0
dtype: int64

In [39]:
data1 = data1.dropna(subset=['Mileage', 'Accident Check', 'OwnershipHistory'])

In [40]:
data1.iloc[:,[0,3,4,7,9,12,13,23,26,27,28]].isnull().sum()

CarID               0
Year                0
Make                0
BodyStyle           0
Location            0
Price               0
Mileage             0
OptionCount         0
Accident Check      0
OwnershipHistory    0
SellingDays         0
dtype: int64

In [41]:
data1.to_csv('C:\\machine_learning\\20200221_data.csv', index=False)