In [1]:
import numpy as np
import pandas as pd

In [2]:
%%time
raw_data = pd.read_csv('usedCar_Dataset.csv')

Wall time: 7.94 s

In [3]:
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

---------------------------------------------------

In [4]:
raw_data

             CarID MakeId                                              Title     BodyStyle Rental       Location GasMileage_city GasMileage_highway    Price   Mileage       Transmission  FuelType               ExteriorColor   InteriorColor DoorsNum MaximumSeating Engine         Drivetrain                VIN  OptionCount                                       MajorOptions Certified  Accident Check  OwnershipHistory  SellingDays  OriginPrice
0        100351603     m1                     2007 Chevrolet Tahoe - $11,999           suv    NaN    Garland, TX             NaN                NaN  11999.0  129280.0          Automatic  Gasoline                        Gold             NaN      NaN            NaN     V8                NaN  1GNFC13J47R120389            0                                                NaN       NaN             0.0               2.0         1873      12999.0
1        101113873     m1                   2005 Chevrolet Express - $11,995           van    NaN  Claremont, NH             NaN                NaN  11995.0  118113.0          Automatic       NaN                       White             NaN      NaN            NaN    NaN                NaN  1GBJG31U251136588            0                                                NaN       NaN             1.0               1.0         1863          NaN
2        102996725     m1  2010 Chevrolet Silverado 2500HD Work Truck Ext...  pickup_truck    NaN  Frankfort, KY             NaN                NaN  15900.0  144000.0          Automatic  Gasoline                       White            Gray  4 doors        6 seats     V8   Four-Wheel Drive  1GC5KVBG7AZ218246            2                           Steel Wheels,Tow Package       NaN             0.0               2.0         1837      16900.0
3        103384798     m1  2014 Chevrolet Corvette Stingray 3LT Coupe RWD...         coupe    NaN  Lewistown, MT     17 MPG City     29 MPG Highway  49995.0    2500.0     7-Speed Manual  Gasoline                         Red           Black  2 doors        2 seats     V8   Rear-Wheel Drive  1G1YE2D73E5104797            5  Bluetooth,Backup Camera,Aluminum Wheels,Naviga...       NaN             0.0               1.0         1832      62900.0
4        104800849     m1         2002 Chevrolet Monte Carlo SS FWD - $3,440         coupe    NaN    Delavan, IL     17 MPG City     27 MPG Highway   3440.0  174000.0          Automatic  Gasoline                       Black           Black  2 doors        5 seats     V6  Front-Wheel Drive  2G1WX15K829249749            2                      Leather Seats,Aluminum Wheels       NaN             0.0               2.0         1809       4800.0
...            ...    ...                                                ...           ...    ...            ...             ...                ...      ...       ...                ...       ...                         ...             ...      ...            ...    ...                ...                ...          ...                                                ...       ...             ...               ...          ...          ...
2375345   97006676    m98         2012 FIAT 500 Lounge Convertible - $15,100   convertible    NaN      Eynon, PA             NaN                NaN  15100.0       NaN  5-Speed Automatic  Gasoline                      Orange  Avorio (Ivory)  2 doors        4 seats     I4  Front-Wheel Drive  3C3CFFER3CT310225            0                                                NaN       NaN             0.0               1.0         1911      26350.0
2375346   97006677    m98                                2013 FIAT 500 Sport     hatchback    NaN      Eynon, PA     31 MPG City     40 MPG Highway      NaN       NaN     5-Speed Manual  Gasoline                       Black           Black  2 doors        4 seats     I4  Front-Wheel Drive  3C3CFFBR8DT515920            0                                                NaN       NaN             0.0               3.0         1911          NaN
2375347   97006680    m98                               2012 FIAT 500 Lounge     hatchback    NaN      Eynon, PA     27 MPG City     34 MPG Highway      NaN       NaN  6-Speed Automatic  Gasoline            Argento (Silver)           Black  2 doors        4 seats     I4  Front-Wheel Drive  3C3CFFCR5CT310469            5  Leather Seats,Sunroof/Moonroof,Alloy Wheels,Bl...       NaN             0.0               1.0         1911          NaN
2375348   97006682    m98                               2013 FIAT 500 Lounge     hatchback    NaN      Eynon, PA     31 MPG City     40 MPG Highway      NaN       NaN     5-Speed Manual  Gasoline                 Rosso (Red)  Avorio (Ivory)  2 doors        4 seats     I4  Front-Wheel Drive  3C3CFFCR1DT693120            0                                                NaN       NaN             0.0               1.0         1911          NaN
2375349   97006684    m98                                2013 FIAT 500 Sport     hatchback    NaN      Eynon, PA     31 MPG City     40 MPG Highway      NaN       NaN     5-Speed Manual  Gasoline  Nero Puro (Straight Black)    Nero (Black)  2 doors        4 seats     I4  Front-Wheel Drive  3C3CFFBR5DT539107            0                                                NaN       NaN             0.0               3.0         1911          NaN

[2375350 rows x 26 columns]

------------------------------------------------------------------------------

##### 刪除重複值

In [5]:
the_vin = raw_data[raw_data.duplicated(subset='VIN', keep=False)]
the_vin[the_vin.duplicated(subset=['CarID'], keep=False)]
data1 = raw_data[~raw_data.duplicated(subset=['CarID'], keep='last')]
data1.duplicated(subset=['CarID'], keep=False).sum()

0

In [6]:
the_vin = data1[data1.duplicated(subset=['VIN'], keep=False)]
data1 = data1.drop(index=[1296653,1524990])

In [7]:
data1.shape

(2370776, 26)

----------------------------------------------------------------------------

In [8]:
data2 = data1.dropna(subset=['Price'])

In [9]:
data2.shape

(2242856, 26)

In [10]:
data2 = data2.drop(columns=['CarID', 'VIN', 'MajorOptions'])

In [11]:
data2.shape

(2242856, 23)

-------------------------------------------------------------------------

##### 處理 Certified

In [12]:
data2['Certified'].unique()

array([nan, True], dtype=object)

In [13]:
data2['Certified'].fillna(value=0, inplace=True)

In [14]:
def toint(x):
    if x == True:
        return int(x)
    else:
        return x

In [15]:
data2['Certified'] = data2['Certified'].apply(toint)

In [16]:
data2['Certified'].unique()

array([0, 1], dtype=int64)

In [17]:
data2[['Price','Certified']].corr()

              Price  Certified
Price      1.000000   0.130795
Certified  0.130795   1.000000

-----------------------------------------------

In [18]:
data2.head(3)

  MakeId                                              Title     BodyStyle Rental       Location GasMileage_city GasMileage_highway    Price   Mileage Transmission  FuelType ExteriorColor InteriorColor DoorsNum MaximumSeating Engine        Drivetrain  OptionCount  Certified  Accident Check  OwnershipHistory  SellingDays  OriginPrice
0     m1                     2007 Chevrolet Tahoe - $11,999           suv    NaN    Garland, TX             NaN                NaN  11999.0  129280.0    Automatic  Gasoline          Gold           NaN      NaN            NaN     V8               NaN            0          0             0.0               2.0         1873      12999.0
1     m1                   2005 Chevrolet Express - $11,995           van    NaN  Claremont, NH             NaN                NaN  11995.0  118113.0    Automatic       NaN         White           NaN      NaN            NaN    NaN               NaN            0          0             1.0               1.0         1863          NaN
2     m1  2010 Chevrolet Silverado 2500HD Work Truck Ext...  pickup_truck    NaN  Frankfort, KY             NaN                NaN  15900.0  144000.0    Automatic  Gasoline         White          Gray  4 doors        6 seats     V8  Four-Wheel Drive            2          0             0.0               2.0         1837      16900.0

In [19]:
year = data2['Title'].str.split(' ', n=1, expand=True).iloc[:,0]

In [20]:
data2.insert(0,'Year',year)

In [21]:
data2.head(3)

   Year MakeId                                              Title     BodyStyle Rental       Location GasMileage_city GasMileage_highway    Price   Mileage Transmission  FuelType ExteriorColor InteriorColor DoorsNum MaximumSeating Engine        Drivetrain  OptionCount  Certified  Accident Check  OwnershipHistory  SellingDays  OriginPrice
0  2007     m1                     2007 Chevrolet Tahoe - $11,999           suv    NaN    Garland, TX             NaN                NaN  11999.0  129280.0    Automatic  Gasoline          Gold           NaN      NaN            NaN     V8               NaN            0          0             0.0               2.0         1873      12999.0
1  2005     m1                   2005 Chevrolet Express - $11,995           van    NaN  Claremont, NH             NaN                NaN  11995.0  118113.0    Automatic       NaN         White           NaN      NaN            NaN    NaN               NaN            0          0             1.0               1.0         1863          NaN
2  2010     m1  2010 Chevrolet Silverado 2500HD Work Truck Ext...  pickup_truck    NaN  Frankfort, KY             NaN                NaN  15900.0  144000.0    Automatic  Gasoline         White          Gray  4 doors        6 seats     V8  Four-Wheel Drive            2          0             0.0               2.0         1837      16900.0

In [22]:
data2['Title'] = data2['Title'].str.split(' ', n=1, expand=True).iloc[:,1]
# 把 Title 中的 年 拿掉

In [23]:
data2['Title'] = data2['Title'].str.split(' - ', n=1, expand=True).iloc[:,0]
# 把 Title 中的 price 拿掉

In [24]:
data2['Title'] = data2['Title'].str.split(' ', n=1, expand=True).iloc[:,0]
# Title 只保留最基本的 牌子

In [25]:
data2 = data2.rename(columns={"Title": "Brand"})

In [26]:
data2 = data2.drop(columns=['MakeId'])

In [27]:
data2.head(3)

   Year      Brand     BodyStyle Rental       Location GasMileage_city GasMileage_highway    Price   Mileage Transmission  FuelType ExteriorColor InteriorColor DoorsNum MaximumSeating Engine        Drivetrain  OptionCount  Certified  Accident Check  OwnershipHistory  SellingDays  OriginPrice
0  2007  Chevrolet           suv    NaN    Garland, TX             NaN                NaN  11999.0  129280.0    Automatic  Gasoline          Gold           NaN      NaN            NaN     V8               NaN            0          0             0.0               2.0         1873      12999.0
1  2005  Chevrolet           van    NaN  Claremont, NH             NaN                NaN  11995.0  118113.0    Automatic       NaN         White           NaN      NaN            NaN    NaN               NaN            0          0             1.0               1.0         1863          NaN
2  2010  Chevrolet  pickup_truck    NaN  Frankfort, KY             NaN                NaN  15900.0  144000.0    Automatic  Gasoline         White          Gray  4 doors        6 seats     V8  Four-Wheel Drive            2          0             0.0               2.0         1837      16900.0

In [28]:
data2.shape

(2242856, 23)

----------------------------------------------------------------------

In [29]:
data2 = data2.drop(columns=['ExteriorColor', 'InteriorColor'])

In [30]:
data2.shape

(2242856, 21)

--------------------------------------------------------------

In [31]:
np.unique(data2['Brand'])

array(['AM', 'Acura', 'Alfa', 'Aston', 'Audi', 'BMW', 'Bentley', 'Buick',
       'Cadillac', 'Chevrolet', 'Chrysler', 'Dodge', 'FIAT', 'Ferrari',
       'Ford', 'GMC', 'Genesis', 'Honda', 'Hummer', 'Hyundai', 'INFINITI',
       'Isuzu', 'Jaguar', 'Jeep', 'Kia', 'Lamborghini', 'Land', 'Lexus',
       'Lincoln', 'MINI', 'Maserati', 'Mazda', 'McLaren', 'Mercedes-Benz',
       'Mercury', 'Mitsubishi', 'Nissan', 'Oldsmobile', 'Plymouth',
       'Pontiac', 'Porsche', 'Ram', 'Rolls-Royce', 'SRT', 'Saab',
       'Saturn', 'Scion', 'Shelby', 'Subaru', 'Suzuki', 'Tesla', 'Toyota',
       'Volkswagen', 'Volvo', 'smart'], dtype=object)

In [32]:
len(np.unique(data2['Brand']))

55

In [33]:
data2.groupby(by='Brand').size()

Brand
AM                    1
Acura             24019
Alfa               1199
Aston               616
Audi              39121
BMW               75526
Bentley            1504
Buick             33314
Cadillac          35953
Chevrolet        274936
Chrysler          36095
Dodge             99176
FIAT               3908
Ferrari            1725
Ford             307654
GMC               93653
Genesis            1097
Honda            117264
Hummer             1962
Hyundai           91673
INFINITI          27279
Isuzu               211
Jaguar             6784
Jeep             131427
Kia               65029
Lamborghini         644
Land              13712
Lexus             48060
Lincoln           20398
MINI              10174
Maserati           2674
Mazda             31360
McLaren             445
Mercedes-Benz     70330
Mercury            2923
Mitsubishi        12572
Nissan           157142
Oldsmobile          699
Plymouth            373
Pontiac            5783
Porsche           14651
Ram               69140
Rolls-Royce         578
SRT                  36
Saab                807
Saturn             2817
Scion              4410
Shelby               89
Subaru            46504
Suzuki              825
Tesla              1105
Toyota           184012
Volkswagen        56298
Volvo             12596
smart               573
dtype: int64

In [34]:
data2[data2['Brand'] == 'AM']

         Year Brand BodyStyle Rental     Location GasMileage_city GasMileage_highway    Price  Mileage Transmission FuelType DoorsNum MaximumSeating Engine Drivetrain  OptionCount  Certified  Accident Check  OwnershipHistory  SellingDays  OriginPrice
1235578  1993    AM       suv    NaN  Garland, TX             NaN                NaN  34988.0  94302.0    Automatic      NaN      NaN            NaN    NaN        NaN            0          0             0.0               4.0           27      39988.0

In [35]:
data2 = data2.drop(index=1235578)

In [36]:
len(np.unique(data2['Brand']))

54

---------------------------------------------------------------------

In [37]:
brands = np.unique(data2['Brand'])

In [38]:
data3 = pd.DataFrame()

In [39]:
for id in brands:
    part = data2[data2.loc[:,'Brand'] == id]
    most_frequent = part.groupby(by='BodyStyle').size().sort_values(ascending=False).index[0]
    part.loc[:,'BodyStyle'] = part.loc[:,'BodyStyle'].fillna(value=most_frequent)
    data3 = data3.append(part)

c:\program files\python37\lib\site-packages\pandas\core\indexing.py:494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [40]:
data3.isnull().sum()

Year                        0
Brand                       0
BodyStyle                   0
Rental                1859809
Location                    0
GasMileage_city        429499
GasMileage_highway     429499
Price                       0
Mileage                 24023
Transmission            35270
FuelType                51539
DoorsNum              1084343
MaximumSeating         100475
Engine                  56188
Drivetrain             100520
OptionCount                 0
Certified                   0
Accident Check          28827
OwnershipHistory        63847
SellingDays                 0
OriginPrice            997577
dtype: int64

-------------------------------------------

In [41]:
data2.shape

(2242855, 21)

In [42]:
data2 = None

In [43]:
data2

In [44]:
data3.shape

(2242855, 21)

--------------------------------------------------

##### 補  Rental

In [45]:
def fillRental(x, third_quantile):
    if x.Rental != True:
        if x.Mileage > third_quantile:
            return True
        else:
            return False
    else:
        return True

In [46]:
brands

array(['Acura', 'Alfa', 'Aston', 'Audi', 'BMW', 'Bentley', 'Buick',
       'Cadillac', 'Chevrolet', 'Chrysler', 'Dodge', 'FIAT', 'Ferrari',
       'Ford', 'GMC', 'Genesis', 'Honda', 'Hummer', 'Hyundai', 'INFINITI',
       'Isuzu', 'Jaguar', 'Jeep', 'Kia', 'Lamborghini', 'Land', 'Lexus',
       'Lincoln', 'MINI', 'Maserati', 'Mazda', 'McLaren', 'Mercedes-Benz',
       'Mercury', 'Mitsubishi', 'Nissan', 'Oldsmobile', 'Plymouth',
       'Pontiac', 'Porsche', 'Ram', 'Rolls-Royce', 'SRT', 'Saab',
       'Saturn', 'Scion', 'Shelby', 'Subaru', 'Suzuki', 'Tesla', 'Toyota',
       'Volkswagen', 'Volvo', 'smart'], dtype=object)

In [47]:
for id in brands:
    brand_index = data3['Brand'] == id
    part = data3.loc[brand_index,:]
    third_quantile = part.Mileage.quantile(0.75)
    part.loc[:,'Rental'] = part.apply(lambda x:fillRental(x, third_quantile), axis=1)
    
    data3.loc[brand_index, 'Rental'] = part.loc[:, 'Rental']
    
#     new_data2 = new_data2.append(part)

In [48]:
data3.loc[:,'Rental'].isnull().sum()

0

-------------------------------------------------

In [49]:
data3.head(3)

         Year  Brand BodyStyle  Rental            Location GasMileage_city GasMileage_highway   Price   Mileage       Transmission  FuelType DoorsNum MaximumSeating Engine         Drivetrain  OptionCount  Certified  Accident Check  OwnershipHistory  SellingDays  OriginPrice
1711787  2010  Acura     sedan    True         Garland, TX             NaN                NaN  9499.0  119655.0          Automatic  Gasoline      NaN            NaN     I4                NaN            3          0             0.0               1.0         1690      11999.0
1711788  1999  Acura     sedan   False  Fredericksburg, VA     16 MPG City     22 MPG Highway  5495.0   62399.0  4-Speed Automatic  Gasoline  4 doors        5 seats     V6  Front-Wheel Drive            2          0             0.0               1.0         1574       6995.0
1711789  2006  Acura     sedan    True            Mesa, AZ             NaN                NaN  6900.0  116235.0          Automatic  Gasoline      NaN            NaN     V6                NaN            4          0             1.0               2.0         1542      10500.0

In [50]:
data3.shape

(2242855, 21)

In [51]:
data3.isnull().sum()

Year                        0
Brand                       0
BodyStyle                   0
Rental                      0
Location                    0
GasMileage_city        429499
GasMileage_highway     429499
Price                       0
Mileage                 24023
Transmission            35270
FuelType                51539
DoorsNum              1084343
MaximumSeating         100475
Engine                  56188
Drivetrain             100520
OptionCount                 0
Certified                   0
Accident Check          28827
OwnershipHistory        63847
SellingDays                 0
OriginPrice            997577
dtype: int64

In [52]:
data3 = data3.dropna(subset=['Engine'])

In [53]:
data3.isnull().sum()

Year                        0
Brand                       0
BodyStyle                   0
Rental                      0
Location                    0
GasMileage_city        376503
GasMileage_highway     376503
Price                       0
Mileage                 21071
Transmission            31559
FuelType                    0
DoorsNum              1048107
MaximumSeating          82850
Engine                      0
Drivetrain              82695
OptionCount                 0
Certified                   0
Accident Check          19315
OwnershipHistory        53542
SellingDays                 0
OriginPrice            969134
dtype: int64

In [54]:
data3 = data3.dropna(axis=0, subset=['GasMileage_city'])

In [55]:
data3.isnull().sum()

Year                       0
Brand                      0
BodyStyle                  0
Rental                     0
Location                   0
GasMileage_city            0
GasMileage_highway         0
Price                      0
Mileage                16392
Transmission           10847
FuelType                   0
DoorsNum              840097
MaximumSeating             5
Engine                     0
Drivetrain                 0
OptionCount                0
Certified                  0
Accident Check         15660
OwnershipHistory       42974
SellingDays                0
OriginPrice           794455
dtype: int64

------------------------------------------------

##### Transmission

In [56]:
len(np.unique(data3['Brand']))

52

In [57]:
brands = np.unique(data3['Brand'])

In [58]:
for id in brands:
    brand_index = data3['Brand'] == id
    part = data3.loc[brand_index,:]
    
    most = part.groupby(by='Transmission').size().sort_values(ascending=False).index[0]
    
    need_fill = part.loc[:,'Transmission'].isnull()
    
    part.loc[need_fill, 'Transmission'] = part.loc[need_fill,'Transmission'].fillna(value=most)
    
    data3.loc[brand_index, 'Transmission'] = part.loc[:, 'Transmission']
    
    
#     part.loc[:,'Transmission'] = part.loc[:,'Transmission'].fillna(value=most)
    
#     data3.loc[brand_index, 'Transmission'] = part.loc[:, 'Transmission']

In [59]:
data3.loc[:, 'Transmission'].isnull().sum()

0

In [60]:
data3.loc[:, 'Transmission']

1711788      4-Speed Automatic
1711790              Automatic
1711792      5-Speed Automatic
1711794      6-Speed Automatic
1711795      5-Speed Automatic
                  ...
294307               Automatic
294313               Automatic
294314               Automatic
294322     6-Speed Dual Clutch
294327               Automatic
Name: Transmission, Length: 1810164, dtype: object

------------------------------------------------------------

In [61]:
data3.isnull().sum()

Year                       0
Brand                      0
BodyStyle                  0
Rental                     0
Location                   0
GasMileage_city            0
GasMileage_highway         0
Price                      0
Mileage                16392
Transmission               0
FuelType                   0
DoorsNum              840097
MaximumSeating             5
Engine                     0
Drivetrain                 0
OptionCount                0
Certified                  0
Accident Check         15660
OwnershipHistory       42974
SellingDays                0
OriginPrice           794455
dtype: int64

In [62]:
len(np.unique(data3['Brand']))

52

In [63]:
for id in brands:
    if id == 'Genesis':
        pass
    else:
        brand_index = data3['Brand'] == id
        part = data3.loc[brand_index,:]

        most = part.groupby(by='DoorsNum').size().sort_values(ascending=False).index[0]

        need_fill = part.loc[:,'DoorsNum'].isnull()

        part.loc[need_fill, 'DoorsNum'] = part.loc[need_fill,'DoorsNum'].fillna(value=most)

        data3.loc[brand_index, 'DoorsNum'] = part.loc[:, 'DoorsNum']

In [64]:
data3.isnull().sum()

Year                       0
Brand                      0
BodyStyle                  0
Rental                     0
Location                   0
GasMileage_city            0
GasMileage_highway         0
Price                      0
Mileage                16392
Transmission               0
FuelType                   0
DoorsNum                 550
MaximumSeating             5
Engine                     0
Drivetrain                 0
OptionCount                0
Certified                  0
Accident Check         15660
OwnershipHistory       42974
SellingDays                0
OriginPrice           794455
dtype: int64

In [65]:
for id in brands:
    if id == 'Genesis':
        brand_index = data3['Brand'] == id
        part = data3.loc[brand_index,:]

        most = 4

        need_fill = part.loc[:,'DoorsNum'].isnull()

        part.loc[need_fill, 'DoorsNum'] = part.loc[need_fill,'DoorsNum'].fillna(value=most)

        data3.loc[brand_index, 'DoorsNum'] = part.loc[:, 'DoorsNum']

In [66]:
data3.isnull().sum()

Year                       0
Brand                      0
BodyStyle                  0
Rental                     0
Location                   0
GasMileage_city            0
GasMileage_highway         0
Price                      0
Mileage                16392
Transmission               0
FuelType                   0
DoorsNum                   0
MaximumSeating             5
Engine                     0
Drivetrain                 0
OptionCount                0
Certified                  0
Accident Check         15660
OwnershipHistory       42974
SellingDays                0
OriginPrice           794455
dtype: int64

-----------------------------------------------

In [67]:
for id in brands:
    brand_index = data3['Brand'] == id
    part = data3.loc[brand_index,:]

    most = part.groupby(by='Accident Check').size().sort_values(ascending=False).index[0]

    need_fill = part.loc[:,'Accident Check'].isnull()

    part.loc[need_fill, 'Accident Check'] = part.loc[need_fill,'Accident Check'].fillna(value=most)

    data3.loc[brand_index, 'Accident Check'] = part.loc[:, 'Accident Check']

In [68]:
data3.isnull().sum()

Year                       0
Brand                      0
BodyStyle                  0
Rental                     0
Location                   0
GasMileage_city            0
GasMileage_highway         0
Price                      0
Mileage                16392
Transmission               0
FuelType                   0
DoorsNum                   0
MaximumSeating             5
Engine                     0
Drivetrain                 0
OptionCount                0
Certified                  0
Accident Check             0
OwnershipHistory       42974
SellingDays                0
OriginPrice           794455
dtype: int64

In [69]:
for id in brands:
    brand_index = data3['Brand'] == id
    part = data3.loc[brand_index,:]

    most = part.groupby(by='OwnershipHistory').size().sort_values(ascending=False).index[0]

    need_fill = part.loc[:,'OwnershipHistory'].isnull()

    part.loc[need_fill, 'OwnershipHistory'] = part.loc[need_fill,'OwnershipHistory'].fillna(value=most)

    data3.loc[brand_index, 'OwnershipHistory'] = part.loc[:, 'OwnershipHistory']

In [70]:
data3.isnull().sum()

Year                       0
Brand                      0
BodyStyle                  0
Rental                     0
Location                   0
GasMileage_city            0
GasMileage_highway         0
Price                      0
Mileage                16392
Transmission               0
FuelType                   0
DoorsNum                   0
MaximumSeating             5
Engine                     0
Drivetrain                 0
OptionCount                0
Certified                  0
Accident Check             0
OwnershipHistory           0
SellingDays                0
OriginPrice           794455
dtype: int64

In [71]:
data3 = data3.dropna(subset=['Mileage'])

In [72]:
data3.isnull().sum()

Year                       0
Brand                      0
BodyStyle                  0
Rental                     0
Location                   0
GasMileage_city            0
GasMileage_highway         0
Price                      0
Mileage                    0
Transmission               0
FuelType                   0
DoorsNum                   0
MaximumSeating             5
Engine                     0
Drivetrain                 0
OptionCount                0
Certified                  0
Accident Check             0
OwnershipHistory           0
SellingDays                0
OriginPrice           784629
dtype: int64

-----------------------------------------------------------

##### 補  OriginPrice

In [73]:
data3.shape

(1793772, 21)

In [74]:
train_data = data3.loc[:,['Price', 'SellingDays', 'OriginPrice']].dropna()

In [75]:
train_data.isnull().sum()

Price          0
SellingDays    0
OriginPrice    0
dtype: int64

In [76]:
train_data[train_data['Price'] == train_data['OriginPrice']]

           Price  SellingDays  OriginPrice
1712016  52695.0          495      52695.0
1712032   2995.0          484       2995.0
1712221   8995.0          400       8995.0
1712346   5900.0          351       5900.0
1712628  40395.0          286      40395.0
...          ...          ...          ...
293723    7999.0          755       7999.0
293724    7999.0          755       7999.0
293725    7999.0          755       7999.0
293739    5555.0          399       5555.0
293883   10995.0           84      10995.0

[13688 rows x 3 columns]

In [77]:
train_data.dtypes

Price          float64
SellingDays      int64
OriginPrice    float64
dtype: object

In [78]:
train_data.corr()

                Price  SellingDays  OriginPrice
Price        1.000000     0.003893     0.008597
SellingDays  0.003893     1.000000    -0.000366
OriginPrice  0.008597    -0.000366     1.000000

In [79]:
from sklearn.ensemble import RandomForestRegressor

In [80]:
forest = RandomForestRegressor(n_estimators=100,
                              criterion='mse',
                              random_state=1,
                              n_jobs=-1)

In [81]:
train_data.head(5)

           Price  SellingDays  OriginPrice
1711788   5495.0         1574       6995.0
1711792   4480.0         1352       5980.0
1711799  12950.0         1290      18950.0
1711801  39500.0         1219      46890.0
1711802  10900.0         1198      13995.0

In [82]:
train_data = train_data.sample(frac=1)
# 打亂順序
# 參考 : https://stackoverflow.com/questions/29576430/shuffle-dataframe-rows

In [83]:
train_data.isnull().sum()

Price          0
SellingDays    0
OriginPrice    0
dtype: int64

In [84]:
train_data

           Price  SellingDays  OriginPrice
1072466  18714.0           56      20000.0
965583   24200.0           42      24995.0
1609963  12999.0           15      12597.0
1066859  20000.0           64      23500.0
2180046  28992.0          105      29990.0
...          ...          ...          ...
1561184   6495.0          198       7995.0
548007   24995.0           35      26995.0
2214089  23359.0           59      25930.0
1420327  13761.0          420      14900.0
2183461  22004.0           99      24975.0

[1009143 rows x 3 columns]

In [85]:
y_train = train_data.iloc[:,2]

In [86]:
y_train

1072466    20000.0
965583     24995.0
1609963    12597.0
1066859    23500.0
2180046    29990.0
            ...
1561184     7995.0
548007     26995.0
2214089    25930.0
1420327    14900.0
2183461    24975.0
Name: OriginPrice, Length: 1009143, dtype: float64

In [87]:
X_train = train_data.iloc[:,[0,1]]

In [88]:
X_train

           Price  SellingDays
1072466  18714.0           56
965583   24200.0           42
1609963  12999.0           15
1066859  20000.0           64
2180046  28992.0          105
...          ...          ...
1561184   6495.0          198
548007   24995.0           35
2214089  23359.0           59
1420327  13761.0          420
2183461  22004.0           99

[1009143 rows x 2 columns]

In [89]:
forest.fit(X_train, y_train)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
                      max_features='auto', max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=-1,
                      oob_score=False, random_state=1, verbose=0,
                      warm_start=False)

In [90]:
need_pred = data3.loc[:,'OriginPrice'].isnull()

In [91]:
fill_data = data3.loc[need_pred, ['Price', 'SellingDays', 'OriginPrice']]

In [92]:
test_X = fill_data.iloc[:,[0,1]]

In [93]:
test_X

           Price  SellingDays
1711790  10900.0         1400
1711800   6999.0         1283
1711828   2999.0          909
1711829   2299.0          909
1711831   4995.0          879
...          ...          ...
294307    5981.0            1
294313    8795.0            1
294314    5900.0            1
294322   10812.0            0
294327    5995.0            0

[784629 rows x 2 columns]

In [94]:
pred_OriginPrice = forest.predict(test_X)

In [95]:
data3.loc[need_pred, 'OriginPrice'] = pred_OriginPrice

In [96]:
data3.isnull().sum()

Year                  0
Brand                 0
BodyStyle             0
Rental                0
Location              0
GasMileage_city       0
GasMileage_highway    0
Price                 0
Mileage               0
Transmission          0
FuelType              0
DoorsNum              0
MaximumSeating        5
Engine                0
Drivetrain            0
OptionCount           0
Certified             0
Accident Check        0
OwnershipHistory      0
SellingDays           0
OriginPrice           0
dtype: int64

----------------------------------------------------------

In [97]:
data3.shape

(1793772, 21)

In [98]:
data3.dtypes

Year                   object
Brand                  object
BodyStyle              object
Rental                   bool
Location               object
GasMileage_city        object
GasMileage_highway     object
Price                 float64
Mileage               float64
Transmission           object
FuelType               object
DoorsNum               object
MaximumSeating         object
Engine                 object
Drivetrain             object
OptionCount             int64
Certified               int64
Accident Check        float64
OwnershipHistory      float64
SellingDays             int64
OriginPrice           float64
dtype: object

In [99]:
data3.loc[:,['Year', 'Rental', 'OptionCount', 'Certified', 'SellingDays']] = \
    data3.loc[:,['Year', 'Rental', 'OptionCount', 'Certified', 'SellingDays']].astype('int32')

In [100]:
data3.dtypes

Year                    int32
Brand                  object
BodyStyle              object
Rental                  int32
Location               object
GasMileage_city        object
GasMileage_highway     object
Price                 float64
Mileage               float64
Transmission           object
FuelType               object
DoorsNum               object
MaximumSeating         object
Engine                 object
Drivetrain             object
OptionCount             int32
Certified               int32
Accident Check        float64
OwnershipHistory      float64
SellingDays             int32
OriginPrice           float64
dtype: object

In [101]:
data3.loc[:,['Price', 'Mileage', 'Accident Check', 'OwnershipHistory', 'OriginPrice']] = \
    data3.loc[:,['Price', 'Mileage', 'Accident Check', 'OwnershipHistory', 'OriginPrice']].astype('float32')

In [102]:
data3.dtypes

Year                    int32
Brand                  object
BodyStyle              object
Rental                  int32
Location               object
GasMileage_city        object
GasMileage_highway     object
Price                 float32
Mileage               float32
Transmission           object
FuelType               object
DoorsNum               object
MaximumSeating         object
Engine                 object
Drivetrain             object
OptionCount             int32
Certified               int32
Accident Check        float32
OwnershipHistory      float32
SellingDays             int32
OriginPrice           float32
dtype: object

--------------------------------------------------------

In [103]:
data3.head()

         Year  Brand  BodyStyle  Rental            Location GasMileage_city GasMileage_highway    Price   Mileage       Transmission  FuelType DoorsNum MaximumSeating Engine         Drivetrain  OptionCount  Certified  Accident Check  OwnershipHistory  SellingDays   OriginPrice
1711788  1999  Acura      sedan       0  Fredericksburg, VA     16 MPG City     22 MPG Highway   5495.0   62399.0  4-Speed Automatic  Gasoline  4 doors        5 seats     V6  Front-Wheel Drive            2          0             0.0               1.0         1574   6995.000000
1711790  2001  Acura  crossover       0            Boaz, AL     15 MPG City     21 MPG Highway  10900.0  100600.0          Automatic  Gasoline  4 doors        7 seats     V6   Four-Wheel Drive            4          0             1.0               3.0         1400  15451.889648
1711792  2002  Acura  crossover       1         Danbury, CT     15 MPG City     21 MPG Highway   4480.0  222837.0  5-Speed Automatic  Gasoline  4 doors        7 seats     V6    All-Wheel Drive            2          0             0.0               2.0         1352   5980.000000
1711799  2011  Acura  crossover       1       Cleveland, TN     16 MPG City     21 MPG Highway  12950.0  127259.0  6-Speed Automatic  Gasoline  4 doors        7 seats     V6    All-Wheel Drive            6          0             2.0               1.0         1290  18950.000000
1711800  2002  Acura      sedan       1         Madison, TN     17 MPG City     27 MPG Highway   6999.0  116511.0          Automatic  Gasoline  4 doors        5 seats     V6  Front-Wheel Drive            2          0             1.0               7.0         1283   8923.769531

In [104]:
locations = data3.Location.str.split(', ', expand=True).iloc[:,1]

In [105]:
data3 = data3.drop(columns=['Location'])

In [106]:
data3.insert(4,'Location',locations)

In [107]:
data3.head()

         Year  Brand  BodyStyle  Rental Location GasMileage_city GasMileage_highway    Price   Mileage       Transmission  FuelType DoorsNum MaximumSeating Engine         Drivetrain  OptionCount  Certified  Accident Check  OwnershipHistory  SellingDays   OriginPrice
1711788  1999  Acura      sedan       0       VA     16 MPG City     22 MPG Highway   5495.0   62399.0  4-Speed Automatic  Gasoline  4 doors        5 seats     V6  Front-Wheel Drive            2          0             0.0               1.0         1574   6995.000000
1711790  2001  Acura  crossover       0       AL     15 MPG City     21 MPG Highway  10900.0  100600.0          Automatic  Gasoline  4 doors        7 seats     V6   Four-Wheel Drive            4          0             1.0               3.0         1400  15451.889648
1711792  2002  Acura  crossover       1       CT     15 MPG City     21 MPG Highway   4480.0  222837.0  5-Speed Automatic  Gasoline  4 doors        7 seats     V6    All-Wheel Drive            2          0             0.0               2.0         1352   5980.000000
1711799  2011  Acura  crossover       1       TN     16 MPG City     21 MPG Highway  12950.0  127259.0  6-Speed Automatic  Gasoline  4 doors        7 seats     V6    All-Wheel Drive            6          0             2.0               1.0         1290  18950.000000
1711800  2002  Acura      sedan       1       TN     17 MPG City     27 MPG Highway   6999.0  116511.0          Automatic  Gasoline  4 doors        5 seats     V6  Front-Wheel Drive            2          0             1.0               7.0         1283   8923.769531

In [108]:
data3['GasMileage_city'] = data3['GasMileage_city'].str.split(' ', n=1, expand=True).iloc[:,0]

In [109]:
data3['GasMileage_highway'] = data3['GasMileage_highway'].str.split(' ', n=1, expand=True).iloc[:,0]

In [110]:
data3['DoorsNum'] = data3['DoorsNum'].str.split(' ', n=1, expand=True).iloc[:,0]

In [111]:
data3['MaximumSeating'] = data3['MaximumSeating'].str.split(' ', n=1, expand=True).iloc[:,0]

In [112]:
data3.head()

         Year  Brand  BodyStyle  Rental Location GasMileage_city GasMileage_highway    Price   Mileage       Transmission  FuelType DoorsNum MaximumSeating Engine         Drivetrain  OptionCount  Certified  Accident Check  OwnershipHistory  SellingDays   OriginPrice
1711788  1999  Acura      sedan       0       VA              16                 22   5495.0   62399.0  4-Speed Automatic  Gasoline        4              5     V6  Front-Wheel Drive            2          0             0.0               1.0         1574   6995.000000
1711790  2001  Acura  crossover       0       AL              15                 21  10900.0  100600.0          Automatic  Gasoline        4              7     V6   Four-Wheel Drive            4          0             1.0               3.0         1400  15451.889648
1711792  2002  Acura  crossover       1       CT              15                 21   4480.0  222837.0  5-Speed Automatic  Gasoline        4              7     V6    All-Wheel Drive            2          0             0.0               2.0         1352   5980.000000
1711799  2011  Acura  crossover       1       TN              16                 21  12950.0  127259.0  6-Speed Automatic  Gasoline        4              7     V6    All-Wheel Drive            6          0             2.0               1.0         1290  18950.000000
1711800  2002  Acura      sedan       1       TN              17                 27   6999.0  116511.0          Automatic  Gasoline        4              5     V6  Front-Wheel Drive            2          0             1.0               7.0         1283   8923.769531

In [113]:
data3.dtypes

Year                    int32
Brand                  object
BodyStyle              object
Rental                  int32
Location               object
GasMileage_city        object
GasMileage_highway     object
Price                 float32
Mileage               float32
Transmission           object
FuelType               object
DoorsNum               object
MaximumSeating         object
Engine                 object
Drivetrain             object
OptionCount             int32
Certified               int32
Accident Check        float32
OwnershipHistory      float32
SellingDays             int32
OriginPrice           float32
dtype: object

In [114]:
data3.loc[:,['GasMileage_city','GasMileage_highway', 'DoorsNum', 'MaximumSeating']] = \
    data3.loc[:,['GasMileage_city','GasMileage_highway', 'DoorsNum', 'MaximumSeating']].astype('float32')

In [115]:
data3.dtypes

Year                    int32
Brand                  object
BodyStyle              object
Rental                  int32
Location               object
GasMileage_city       float32
GasMileage_highway    float32
Price                 float32
Mileage               float32
Transmission           object
FuelType               object
DoorsNum              float32
MaximumSeating        float32
Engine                 object
Drivetrain             object
OptionCount             int32
Certified               int32
Accident Check        float32
OwnershipHistory      float32
SellingDays             int32
OriginPrice           float32
dtype: object

---------------------------------------------------

In [116]:
len(np.unique(data3['Brand']))

52

In [117]:
len(np.unique(data3['BodyStyle']))

10

In [118]:
len(np.unique(data3['Location']))

51

In [119]:
len(np.unique(data3['Transmission']))

30

In [120]:
len(np.unique(data3['FuelType']))

7

In [121]:
np.unique(data3['FuelType'])

array(['Biodiesel', 'Compressed Natural Gas', 'Diesel',
       'Flex Fuel Vehicle', 'Gasoline', 'Hybrid', 'Propane'], dtype=object)

In [122]:
len(np.unique(data3['Engine']))

34

In [123]:
len(np.unique(data3['Drivetrain']))

5

In [124]:
np.unique(data3['Drivetrain'])

array(['4X2', 'All-Wheel Drive', 'Four-Wheel Drive', 'Front-Wheel Drive',
       'Rear-Wheel Drive'], dtype=object)

--------------------------------------------------------

##### 類別變數轉成 dummy variable

##### 1.BodyStylem

In [125]:
data3 = pd.get_dummies(data3,
        columns=['Brand'],
        sparse=True,)

In [126]:
data3.to_csv('C:\\machine_learning\\20200214_final_data.csv', index=False)

In [ ]:
len(data3.columns)

In [ ]:
brands_dummy_number = np.arange(20,72,1)

In [ ]:
def oneToDotFive(x):
    if x == 1:
        return 0.5
    else:
        return 0

In [ ]:
for i in brands_dummy_number:
    data3.iloc[:,i] = data3.iloc[:,i].apply(oneToDotFive, axis=1)

In [ ]:
data3.iloc[:,20:]